tarefa 5/imobiliaria.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="imobiliaria.xsd" xmlns:im="http://www.example.com/imobiliaria" elementFormDefault="qualified">
    <simpleType name="decimal">
        <restriction base="decimal">
            <totalDigits value="10"/>
            <fractionDigits value="2"/>
        </restriction>
    </simpleType>
    

<element name="imobiliaria">
    <complexType>
        <sequence>
            <element name="imovel" maxOccurs="unbounded">
                <complexType>
                    <sequence>
                        <element name="descricao" type="string"/>
                        <element name="valor" type="im:decimal"/>
                        <element name="endereco">
                            <complexType>
                                <sequence>
                                    <element name="rua" type="string"/>
                                    <element name="numero" type="im:integer"/>
                                    <element name="bairro" type="string"/>
                                    <element name="cidade" type="string"/>
                                </sequence>
                            </complexType>
                        <element name="caracteristicas">
                            <complexType>
                                <sequence>
                                    <element name="caracteristica" maxOccurs="unbounded">
                                        <complexType>
                                            <sequence>
                                                <element name="tamanho" type="im:decimal"/>
                                                <element name="numQuartos" type="im:integer"/>
                                                <element name="numBanheiros" type="im:integer"/>
                                            </sequence>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        <element name="proprietario">
                            <complexType>
                                <sequence>
                                    <element name="nome" type="string"/>
                                    <choice minOccurs="0">
                                        <element name="Email" type="string"/>
                                        <element name="telefone" type="string"/>
                                    </choice>
                                </sequence>
                            </complexType>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
</element>
</schema>